- unless active_rosters.empty?
  %h5 Active Rosters
  - active_rosters.each do |roster|
    - roster_p = present(roster)
    - matches = active_roster_matches[roster]

    - if roster_p.notice != ''
      .alert.alert-warning.mb-3
        .alert-heading Notice
        .markdown= roster_p.notice

    = render 'teams/show_roster', team: team, roster: roster, roster_p: roster_p, users: users, matches: matches

- unless past_rosters.empty?
  %h5 Past Rosters

  - past_rosters.each do |roster|
    - roster_p = present(roster)
    - matches = past_roster_matches[roster]

    = render 'teams/show_roster', team: team, roster: roster, roster_p: roster_p, users: users, matches: matches
