=link_to new_team_path, class: 'btn btn-default pull-right', type: 'button' do
  Start Team
  %span.glyphicon.glyphicon-plus

%h1 Teams

%ul.list-group
  - teams.each do |team|
    %li.list-group-item
      = team.name
