- if user_signed_in?
  =link_to new_team_path, class: 'btn btn-default pull-right', type: 'button' do
    Start Team
    %span.glyphicon.glyphicon-plus

%h1 Teams

%ul.list-group
  - teams.each do |team|
    = link_to team_path(team), class: 'list-group-item' do
      = team.name
