%h1 Users

.row
  .col-sm-3.col-md-3.pull-right
    = render 'search'

.panel.panel-default
  - if @users.empty?
    .panel-body No users found...
  - else
    %ul.list-group
      - present_collection(@users).each do |user|
        %li.list-group-item
          = user.listing
          .button-group.pull-right
            = button_to invite_team_path(@team, user_id: user.id),
                        method: :patch, class: 'btn btn-primary',
                        disabled: @team.invited?(user) || @team.on_roster?(user) do
              Invite
              %span.glyphicon.glyphicon-plus

= will_paginate @users, renderer: BootstrapPagination::Rails
