%h1 Users

%ul.list-group
  - @users.each do |user|
    %li.list-group-item
      = user_listing(user)
      .button-group.pull-right
        = button_to invite_team_path(@team, user_id: user.id),
                    method: :patch, class: 'btn btn-primary',
                    disabled: @team.invited?(user) || @team.on_roster?(user) do
          Invite
          %span.glyphicon.glyphicon-plus
