- if user_can_edit_team?
  =link_to edit_team_path(@team), class: 'btn btn-default pull-right', type: 'button' do
    Settings
    %span.glyphicon.glyphicon-cog

%h1= @team.name

.panel.panel-default
  .panel-body= markdown @team.description
