- if user_can_edit_team?
  =link_to edit_team_path(@team), class: 'btn btn-default pull-right', type: 'button' do
    Settings
    %span.glyphicon.glyphicon-cog

%h1= @team.name

.panel.panel-default
  .panel-heading Info
  .panel-body= markdown @team.description

.panel.panel-default
  .panel-heading Roster
  .panel-body
    - if user_can_edit_team?
      = link_to recruit_team_path(@team), class: 'btn btn-default' do
        Invite
        %span.glyphicon.glyphicon-plus
