:ruby
  if match.home_team.on_roster?(comm.created_by)
    roster = match.home_team
  elsif match.away_team.on_roster?(comm.created_by)
    roster = match.away_team
  end

.comm-edit{ class: local_assigns[:class] }
  %small.font-weight-bold
    Edited by
    = present(comm.created_by).link
    - if roster
      (
      = present(roster).link
      )
    on
    = comm.created_at.strftime('%c')

  .card.bg-light
    .card-body.markdown
      != comm.content_render_cache
