:ruby
  if match.home_team.on_roster?(comm.created_by)
    roster = match.home_team
  elsif match.away_team.on_roster?(comm.created_by)
    roster = match.away_team
  end

.panel.panel-default
  .panel-heading
    .pull-right
      = comm.created_at.strftime('%c')

    = present(roster).link + ':' if roster
    - team = roster.team if roster
    = render 'users/listing', user: comm.created_by, team: team

.container-fluid.markdown!= comm.content_render_cache
