%nav
  %ol.breadcrumb
    - if object
      - presenter = present(object)

      %li.breadcrumb-item
        = link_to forums_path(nil) do
          Forums

      = presenter.breadcrumbs

      %li.breadcrumb-item.active
        = presenter

    - else
      %li.breadcrumb-item.active
        Forums
