- content_for(:title) { 'Forums' }

%h1.tab-header Forums
%hr
.row
  = link_to recent_forums_posts_path, class: 'btn btn-secondary' do
    Recent Posts
%br
= render 'page', topics: @topics, threads: @threads, parent_topic: nil
