%li.list-group-item.nested-fields
  = link_to_remove_association f, class: 'btn btn-default pull-right',
      data: { confirm: 'Are you sure you want to delete this Division?' } do
    %span.glyphicon.glyphicon-trash
    Delete

  = f.text_field :name
