%li.list-group-item.nested-fields
  .d-flex
    = f.text_field :name, hide_label: true, wrapper: { class: 'w-100 mr-3 mb-0' }

    = link_to_remove_association f, class: 'btn btn-danger',
        data: { confirm: 'Are you sure you want to delete this Division?' } do
      = inline_svg_tag 'open_iconic/trash.svg', class: 'icon'
