%li.list-group-item.nested-fields
  = link_to_remove_association f, class: 'btn btn-secondary pull-right',
      data: { confirm: 'Are you sure you want to delete this Tirbreaker?' } do
    %span.glyphicon.glyphicon-trash
    Delete

  = f.select(:kind, League::Tiebreaker.kinds.map { |name, _| [name.humanize, name] })
