%h1 Meta
%h2 For all your admin needs

.panel.panel-default
  .panel-heading Meta
  .panel-body
    %ul.list-group
      = link_to 'Games', meta_games_path, class: 'list-group-item'
      = link_to 'Formats', meta_formats_path, class: 'list-group-item'
