%p Hello #{@user.name},

%p You have received the following notification:

%p= link_to @message, @link, target: '_blank', rel: :noopener

%p Cheers!

%p
  If you wish to stop receiving these emails, please
  = link_to @unsubscribe_link, target: '_blank', rel: :noopener do
    unsubscribe by removing your email
