:plain
  Hello #{@user.name},

  You have received the following notification:

  #{@message}

  Visit the following link for more details: #{@link}

  Cheers!

  If you wish to stop receiving these emails, please unsubscribe by removing
  your email here: #{@unsubscribe_link}
