- if user_can_meta?
  = link_to edit_meta_game_path(@game), class: 'btn btn-default pull-right', type: 'button' do
    Edit
    %span.glyphicon.glyphicon-cog

%h1= @game.name

.panel.panel-default
  .panel-heading Formats
  %ul.list-group
    - @game.formats.each do |format|
      = link_to format.name, meta_format_path(format), class: 'list-group-item'

.panel.panel-default
  .panel-heading Maps
  %ul.list-group
    - @game.maps.each do |map|
      = link_to map.name, meta_map_path(map), class: 'list-group-item'
