=link_to new_meta_format_path, class: 'btn btn-default pull-right', type: 'button' do
  Add Format
  %span.glyphicon.glyphicon-plus

%h1 Formats

%ul.list-group
  - formats.each do |format|
    %li.list-group-item
      = format.name
      = format.description
