= link_to new_meta_format_path, class: 'btn btn-default pull-right', type: 'button' do
  Add Format
  %span.glyphicon.glyphicon-plus

%h1 Formats

%ul.list-group
  - @formats.each do |format|
    - format_p = present(format)
    %li.list-group-item
      = format_p.link

      .button-group.pull-right
        = link_to edit_meta_format_path(format), class: 'btn btn-default' do
          Edit
          %span.glyphicon.glyphicon-cog
