= bootstrap_form_for @format, as: :format_,
                     url: { controller: 'meta/formats', action: 'create' } do |f|
  = render 'format_form', f: f

  .d-flex.justify-content-end
    = link_to 'Cancel', meta_formats_path, class: 'btn btn-link mr-2'
    = f.submit 'Create'
