= bootstrap_form_for @format, as: :format_,
                     url: { controller: 'meta/formats', action: 'create' } do |f|
  = render 'format_form', f: f

  = f.submit 'Create'
  = link_to 'Cancel', meta_formats_path, class: 'btn btn-default'
