- if user_can_meta?
  = link_to edit_meta_format_path(@format), class: 'btn btn-default pull-right', type: 'button' do
    Edit
    %span.glyphicon.glyphicon-cog

%h1= link_to @format.game.name, meta_game_path(@format.game)
%h2= @format.name

.panel.panel-default
  .panel-heading Information
  .panel-body.markdown!= @format.description_render_cache
