- subscribed = current_user.forums_subscriptions.where(topic: topic).exists?

= button_to toggle_subscription_for_forums_topic_path(topic), method: :patch,
            class: "btn btn-sm #{subscribed ? 'btn-danger' : 'btn-primary'}" do
  = inline_svg_tag 'open_iconic/bell.svg', class: 'icon mr-1'
  = subscribed ? 'Unsubscribe' : 'Subscribe'
