- ban_p = present(ban, User::BanPresenter)

%div{ data: { toggle: :tooltip, placement: :bottom, html: 'true', 'original-title' => ban_p.title } }
  .span.btn.btn-danger{ class: (ban.active? ? 'active' : 'disabled') }
    = ban_p.name
