- user = present(user)

.row.ml-0
  = user.avatar_tag width: 46, height: 46, class: 'text-center'

  .ml-2.d-flex.flex-column
    %span.p-0.mb-1
      = user.link
      = user.titles team: local_assigns[:team]
    .p-0.steam-link
      = user.steam_link
