.col-sm-3.col-md-3.pull-right
  = render 'search'

%h1 Users

- if @users.size > 0
  = render 'users', users: @users
- else
  No users found

= will_paginate @users, renderer: BootstrapPagination::Rails
