- content_for(:title) { 'Users' }

%h1 Users

= render 'search'

- if @users.empty?
  %p.mt-2
    No users found…

- else
  %ul.list-group.mt-2
    - @users.each do |user|
      %li.list-group-item
        = render 'users/listing', user: user, show_steam_id: true

= bootstrap_paginate @users, list_classes: ['pagination justify-content-center mt-4']
