- content_for(:title) { 'Name Change Requests' }

%h1 User Name Change Requests

%table.table
  - @name_changes.each do |name_change|
    - user_p = present(name_change.user)

    %tr
      %td= user_p.link
      %td →
      %td= user_p.link name_change.name

      %td
        = button_to handle_user_name_path(name_change.user, name_change, approve: true),
                     method: :patch, class: 'btn btn-success' do
          Approve

      %td
        = button_to handle_user_name_path(name_change.user, name_change, approve: false),
                     method: :patch, class: 'btn btn-danger' do
          Deny
