%h1 User Name Change Requests

%ul.list-group
  - UserNameChange.pending.each do |name_change|
    - user = present(name_change.user)

    %li.list-group-item
      = user.link
      wants to change their name to
      = user.link name_change.name

      .button-group.pull-right
        = button_to handle_user_name_path(name_change.user, name_change, approve: true),
                    method: :patch, class: 'btn btn-success' do
          Approve
      .button-group.pull-right
        = button_to handle_user_name_path(name_change.user, name_change, approve: false),
                    method: :patch, class: 'btn btn-danger' do
          Deny
