- if user_can_edit_user?
  =link_to edit_user_path(@user), class: 'btn btn-default pull-right', type: 'button' do
    Settings
    %span.glyphicon.glyphicon-cog

%h2= "#{@user.name}'s Profile"

%h3= link_to('Steam Profile', @user.steam_profile_url)

.panel.panel-default
  .panel-heading Description
  .panel-body= markdown @user.description
