- User.ban_models.each do |action, bans|
  - bans.each do |subject, ban_cls|
    - next if ban_cls.subject?

    - user.bans_for(action, subject).each do |ban|
      = render 'users/bans/ban', user: user, ban: ban
