- comment_p = present(comment)
- collapse_id = comment.paths.dom_id('collapse')

.comment-deleted{ class: local_assigns[:class] }
  .row.no-gutters.align-items-center.cursor-pointer{ data: { toggle: :collapse, target: "##{collapse_id}" } }
    .col-auto
      = render 'users/listing', user: comment.deleted_by, avatar_size: 20

    .col-auto.ml-2
      %span.small
        deleted a comment
        on #{comment_p.deleted_at}

  .alert.alert-danger.collapse.mt-2{ id: collapse_id }
    = render 'shared/comment', comment: comment, quote_id: quote_id
