= bootstrap_form_for @map,
                     url: { controller: 'meta/maps', action: 'create' } do |f|
  = render 'map_form', f: f

  = f.submit 'Create'
  = link_to 'Cancel', meta_maps_path, class: 'btn btn-secondary'
