- if user_can_meta?
  = link_to edit_meta_map_path(@map), class: 'btn btn-default pull-right', type: 'button' do
    Edit
    %span.glyphicon.glyphicon-cog

- map_p = present(@map)

%h1= map_p.game.link
%h2= @map.name

.panel.panel-default
  .panel-heading Information
  .panel-body.markdown= map_p.description
