- content_for(:title) { 'Highlander Competitive Ruleset' }

-# rubocop:disable Rails/OutputSafety
= raw File.read(Rails.root.join('public', 'highlander_competitive_ruleset.html.txt'))
-# rubocop:enable Rails/OutputSafety
