%h1 Pages#home
%p Find me in app/views/pages/home.html.haml

%h1
  %div We are into week 3 of the Summer Cup 2016 main bracket, by the end of which only 8 teams will remain. We recognise that waiting for the next major ozfortress competition is fairly boring and a major cause of stagnation for the competitive tf2 community.

  %div To address this, ozfortress will be hosting weekly tournaments on the Razer Arena platform. They will begin this Sunday the 23rd January and finish on Sunday 14th Feburary, a week before the Summer Cup Grand Final. Summer Cup survivors are still welcome to compete, but please ensure your game is scheduled prior to signing up. Signups for the tournament will be available shortly.

  %div TeamfortressTV has been producing highlights of top 6s clips from around the world, and has put out a clip of Dreams sniping! It's taken from Labracadabradors vs. U bad lol? on Process. Keep an eye out for more Summer Cup highlights with top #productionvalue from the likes of truktruk, dashner and more!

  %div Backcap continues to produce high quality competitive TF2 content, targeted at both the competitive and pub community. If you've missed the last few episodes, make sure you check out sIN's channel. The latest video includes highlights from Labracadabradors vs. U bad lol? Keep an eye out for this weeks video which should include some awesome highlights, particularly from U bad lol? vs. Great Gravy on Gullywash.

  %div As always, high level casted games will be events on TeamfortressTV and able to be bet on at Saloon.tf. Speaking of casted games, TFLIVE is casting Male Cougars vs. SACRED.tf TONIGHT! Click here for the details. If you've missed any of the recent casted games, VODs will be available on the TFLIVE Youtube shortly after the match.

  %div Don't forget to check out the ozfortress Discord if you haven't already. It's the official method of contacting admins but also a great place to hang out. TeamfortressTV and other communities also have Discord channels which you can join and chat. Finally, the ozfortress Twitter provides updates about tournaments and when casted games are going live.

  %div Enjoy your TF2-filled Summer!
