.jumbotron
  %h1 Welcome to Citadel

  %p
    Citadel is a new site developed to replace the ageing forum that
    #{link_to 'ozfortress.com', 'http://ozfortress.com'} revolves around. In the
    past, ozfortress's leagues have had rosters and match threads embedded into
    the ancient forum system. This was exceptionally hard to access and proved a
    maze for both old and new players. As such, Citadel was developed over the
    past few months to provide a more streamlined experience for both players
    and administrators. Although the site is new, it is being actively developed
    and basic functionality to support a league is present.

  %p
    In the future, we would expand Citadel into a full-fledged site that
    supports more than a League system. Functionality from the old site's forum
    will be transferred over, with sections such as Recruitment and Forums.

  %p
    As the site is still being actively developed, any issues or questions
    should be directed to admins. For any technical issues, please email
    dev.zero at #{mail_to 'ben.schaaf@gmail.com'}. For any functionality
    questions or issues, please contact ozfortress administrators via Discord
    linked in the right sidebar.

  View the source on #{link_to 'Github', 'https://github.com/ozfortress/citadel'}
