- content_for(:title) { 'Sixes Competitive Ruleset' }

-# rubocop:disable Rails/OutputSafety
= raw File.read(Rails.root.join('public', 'sixes_competitive_ruleset.html.txt'))
-# rubocop:enable Rails/OutputSafety
