- content_for(:title) { 'Permissions' }

%h1 Select a permission to manage

.panel.panel-default
  %ul.list-group
    - @grants.keys.each do |action|
      - @grants[action].keys.each do |subject|
        / TODO: Support object grants
        - next if @grants[action][subject].subject?

        - if current_user.can?(action, subject) || current_user.can?(:edit, :permissions)
          %li.list-group-item
            = link_to users_permissions_path(action_: action.to_s, subject: subject.to_s) do
              Permission to #{action.to_s.humanize} #{subject.to_s.humanize}
