.panel.panel-danger
  .panel-heading
    %h1
      %span.glyphicon.glyphicon-warning-sign
      <strong>500</strong> Internal Server Error!
  .panel-body
    %p This is a bug, please report it to your administrator!
