%h1= @league
%h2 Sign ups

- @divisions.each do |div|
  .panel.panel-default
    .panel-heading #{div} Division
    %ul.list-group
      - present_collection(div.rosters).each do |roster|
        - bg = roster.approved? ? 'list-group-item-success' : 'list-group-item-warning'
        %li{ class: "list-group-item #{bg}" }
          = roster.admin_link
