.panel.panel-default
  .panel-heading Rosters
  %ul.list-group
    - @competition.rosters.each do |roster|
      %li.list-group-item
        = link_to roster, league_roster_path(@competition, roster)
