.card.border-dashed.py-5
  .d-flex.flex-column.p-5.justify-content-center.align-items-center
    = inline_svg_tag 'svgrepo/smile-filled.svg', size: '60', class: 'opacity-10 mb-3'

    %h5.opacity-30
      No posts found
