.post-edit{ class: local_assigns[:class] }
  %small.font-weight-bold
    Edited by
    = present(post_edit.created_by).link
    on
    = post_edit.created_at.strftime('%c')

  .card
    .card-body.markdown
      != post_edit.content_render_cache
