- content_for(:title) { "Post Edits | #{@thread.title}" }

%h2 Post Edits

.panel.panel-default
  - @edits.each do |post_edit|
    = render 'post_edit', post_edit: post_edit

= bootstrap_paginate @edits
