- content_for(:title) { 'Recent Posts | Forums' }

= render 'forums/head', object: nil, subheading: 'Recent posts', root_navigable: true

%hr

- if @posts.nil?
  = render 'forums/posts/empty'
- else
  - @posts.each do |post|
    .mb-4
      %small.font-weight-bold
        Thread: #{present(post.thread).link}

      = render post, quote_id: nil
