- content_for(:title) { 'Recent Posts | Forums' }

= render 'forums/head', object: nil, subheading: 'Recent Posts', root_navigable: true

%hr

- @posts.each do |post|
  .mb-4
    .mb-2
      Thread: #{present(post.thread).link}

    = render post, quote_id: nil
