- content_for(:title) { 'Recent Posts | Forums' }

%h1.tab-header Recent Posts
%hr

.panel.panel-default
  - @posts.each do |post|
    .panel-heading Thread: #{present(post.thread).link}
    = render post, quote_id: nil
