.panel.panel-default
  .panel-heading Match Comms

  - comms.each do |comm|
    = render 'leagues/matches/comms/comm', match: match, comm: comm

  - if user_can_comm?
    .container-fluid
      %hr
      = bootstrap_form_for comm, as: :comm, url: match_comms_path(match) do |f|
        = render 'leagues/matches/comms/form', f: f

        .row
          = f.submit 'Post', class: 'btn btn-default pull-right'
      %hr
