.panel.panel-default
  .panel-heading Results

  %ul.list-group
    - match.rounds.includes(:map).each do |round|
      %li.list-group-item
        = link_to round.map, meta_map_path(round.map)

        .pull-right= present(round).result
