%ul.list-group
  - pick_bans.each do |pick_ban|
    %li.list-group-item= present(pick_ban).status

- if match.confirmed?
  %ul.list-group
    - rounds.each do |round|
      %li.list-group-item
        = link_to round.map, meta_map_path(round.map)

        .pull-right= present(round).result_description
- else
  %ul.list-group
    - rounds.each do |round|
      %li.list-group-item
        = link_to round.map, meta_map_path(round.map)

        .pull-right Results Pending
