.table-responsive
  %table.table
    %thead
      %tr
        %th Home Team
        %th Away Team
      %tr
        %th= present(match.home_team).link
        %th= present(match.away_team).link
    %tbody
      - match_p.players do |home_user, away_user|
        %tr
          %td= render 'users/listing', user: home_user, team: match.home_team.team if home_user
          %td= render 'users/listing', user: away_user, team: match.away_team.team if away_user
