.panel.panel-default
  .panel-heading Matches

  - if user_can_edit_league?
    .panel-body
      = link_to generate_league_matches_path(@league), class: 'btn btn-default pull-right' do
        %span.glyphicon.glyphicon-plus
        Generate Round
      = link_to new_league_match_path(@league), class: 'btn btn-default pull-right' do
        %span.glyphicon.glyphicon-plus
        Create Single Match

  %ul.list-group
    - @league.divisions.includes(matches: [:home_team, :away_team]).each do |div|
      %li.list-group-item
        %h3= div

        .panel.panel-default
          %ul.list-group
            - present_collection(div.matches).each do |match|
              %li.list-group-item
                = match.link
