- content_for(:title) { "Comment Edits | #{@user.name}" }

%h2
  Comment Edits on
  = link_to @user.name, user_path(@user)

.panel.panel-default
  - @edits.each do |comment_edit|
    = render 'comment_edit', comment_edit: comment_edit
