.form-group
  %label.control-label Starting Round (Will ignore any rounds before this)
  = number_field_tag 'page_playoffs_tournament[starting_round]',
                     page_playoffs_tournament[:starting_round],
                     min: 0, class: 'form-control'

.form-group
  %label.control-label Bronze Match
  = check_box_tag 'page_playoffs_tournament[bronze_match]',
                  checked: page_playoffs_tournament[:bronze_match],
                  class: 'form-control'
