.form-group
  %label.control-label Pairing System
  = select_tag 'swiss_tournament[pairer]', swiss_parer_select, class: 'form-control'

.form-group
  %label.control-label Minimum Pair Size
  = number_field_tag 'swiss_tournament[pair_options][min_pair_size]',
                     swiss_tournament[:pair_options][:min_pair_size],
                     min: 2, step: 2, class: 'form-control'
