#forum-topics-list

#forum-threads-list

#forum-thread

.forum-post
  .card-header
    .user

  .card-body
    .content
      blockquote
        $border-color: rgba(0, 0, 0, 0.07)
        $background-color: rgba(0, 0, 0, 0.03)
        font-size: 0.8rem
        background: $background-color
        border: 1px solid $border-color
        border-left: 5px solid $border-color
        padding: 1rem
        padding-bottom: 0

    .footer
      font-size: 0.8rem
      border-top: 1px solid #eeeeee

      .created-at

      .edited-at

      .actions
        .action
          color: inherit
          cursor: pointer
          text-decoration: none
