%a.dropdown-toggle#notifications{ data: { toggle: 'dropdown' }, href: '#' }
  %span.glyphicon.glyphicon-bell#notifications-glyph
  - unless notifications.empty?
    %span.badge#notifications-badge= notifications.to_a.count { |n| !n.read }
%ul.dropdown-menu.navbar-right-menu#notifications-dropdown
  %li.row.dropdown-header
    = button_to clear_notifications_path, class: 'btn btn-default pull-right',
                method: :delete, remote: true,
                data: { confirm: 'Are you sure you want to clear all notifications?' } do
      Clear
      .span.glyphicon.glyphicon-remove
    %h5 Notifications

  %ul.list-group#notifications-list
    - notifications.each do |notification|
      = render 'notification', notification: notification
/ Periodic notification checks
:javascript
  setInterval(function() {
    var url = "/notifications"
    $.ajax(url);
  }, 20000);
