%a.dropdown-toggle#notifications{ data: { toggle: 'dropdown' } }
  %span.glyphicon.glyphicon-bell#notifications-glyph
  - unless current_user.unread_notifications.empty?
    %span.badge#notifications-badge= current_user.unread_notifications.size
%ul.dropdown-menu.navbar-right-menu#notifications-dropdown
  / TODO: Ajax for loading notifications
  - if current_user.unread_notifications.empty?
    %li.dropdown-header No Notifications...
  - else
    %li.dropdown-header Notifications
    %li.divider
    - present_collection(current_user.unread_notifications).each do |notification|
      %li= notification.link
