%a.dropdown-toggle#notifications{ data: { toggle: 'dropdown' } }
  %span.glyphicon.glyphicon-bell#notifications-glyph
  - unless notifications.empty?
    %span.badge#notifications-badge= notifications.size
%ul.dropdown-menu.navbar-right-menu#notifications-dropdown
  %li.row.dropdown-header
    = button_to clear_notifications_path, class: 'btn btn-default pull-right',
                method: :delete, remote: true,
                data: { confirm: 'Are you sure you want to clear all notifications?' } do
      clear
      .span.glyphicon.glyphicon-remove
    %h5 Notifications

  %ul.list-group#notifications-list
    - notifications.each do |notification|
      = render 'notification', notification: notification
