.notification-group{ id: "notification_#{notification.id}" }
  = button_to notification_path(notification.id), method: :delete, remote: true,
              class: 'btn pull-right notification-button' do
    .span.glyphicon.glyphicon-remove

  - cls = 'notification'
  - if notification.read
    - cls += ' notification-read'

  = present(notification).link(class: "list-group-item #{cls}")
