%a.dropdown-toggle#notifications{ data: { toggle: 'dropdown' } }
  %span.glyphicon.glyphicon-bell#notifications-glyph
  - unless notifications.empty?
    %span.badge#notifications-badge= notifications.size
%ul.dropdown-menu.navbar-right-menu#notifications-dropdown
  / TODO: Ajax for loading notifications
  - if notifications.empty?
    %li.dropdown-header No Notifications...
  - else
    %li.dropdown-header
      = button_to clear_notifications_path, class: 'btn btn-default pull-right', method: :delete,
                  data: { confirm: 'Are you sure you want to clear all notifications?' } do
        clear
        .span.glyphicon.glyphicon-remove
      Notifications

    %li.divider
    - present_collection(notifications).each do |notification|
      %li= notification.link
