/ Its easier to put the bootstrap in manually, than deal with bootstrap-form
= form_for(request.fullpath, method: 'GET', class: 'navbar-form') do
  / Hack for getting params to pass between searches. Don't include rails generates params
  - builtin_params = %w[controller action utf8 q]
  - params.select { |p| !builtin_params.include?(p) }.each do |param, value|
    = hidden_field_tag param, value

  .input-group
    = text_field_tag(:q, params[:q], placeholder: 'Search', class: 'form-control')
    .input-group-btn
      = button_tag(type: 'submit', class: 'btn btn-default') do
        %i.glyphicon.glyphicon-search
