.card#twitter-card
  %ul.list-group.list-group-flush
    %a.twitter-timeline{"data-dnt" => "true", "data-height" => "800", "data-lang" => "en", "data-theme" => "dark", "data-width" => "350", :href => "https://twitter.com/RSLTF2?ref_src=twsrc%5Etfw"}
    %script{:async => "", :charset => "utf-8", :src => "https://platform.twitter.com/widgets.js"}